services:
  - type: web
    name: pobly-ecommerce-frontend
    env: static  # Using 'web' with 'env: static' is the alternative for static sites
    rootDir: frontend
    buildCommand: pnpm install && pnpm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

  - type: web
    name: pobly-ecommerce-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: pnpm install
    startCommand: pnpm start