services:
  - type: static
    name: pobly-ecommerce-frontend
    rootDir: frontend
    buildCommand: pnpm install && pnpm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

  - type: web
    name: pobly-ecommerce-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: pnpm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 20
